.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
form .text{
  padding: 10px;
  display: flex;
  height: 10px;
  background-color: #eee;
  width: 300px;
  border-style: outset;
  border-radius: 5px;
}

form .submit{
  padding: 9px 10px;
  height: 35px;
  background-color: #444;
  color: #eee;
  border-radius: 12px;
}

p{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
}